.messageBox {
    position: absolute;
    width: 400px;
    height:  500px;
    border: 1px solid #d1d1d1;
  }
  
  .messageBox .header {
    position: absolute;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #d1d1d1;
  }
  
  .messageBox .header p {
    position: absolute;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
  }
  
  .messageBox .content {
    width: 100%;
    position: absolute;
    top: 50px;
    height: 450px;
    overflow-y: auto;
  }
  
  .message { 
    display: flex;
    align-items: center;
    justify-items: center;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: small;
  }
  
  .messageBox .content .message .text{
    margin-left: 15px;
  }
  
  .profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .messageBox .content .message .text span:first-child{
    color: #747474;
    margin-right: 5px;
  }
  
  button {
    background-color: gray;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .unselected {
      background-color: #4CAF50;
      margin-left: auto;
  }
  
  .selected {
    background-color: #f44336;
    margin-left: auto;
  }

  .ownerMessage {
    border-radius: 4px;
    background-color: #ffd600;
    padding: 3px 5px;
    color: black !important;
    margin-right: 8px !important;
    line-height: 2;
  }
  
  .moderatorMessage {
    color: hsl(225deg 77% 65%) !important;
    font-weight: 500 !important;
    margin-right: 0 !important;
  }

  .modIcon {
    height: 15px;
    margin-right: 5px;
  }

  .superchat {
    display: grid;
    grid-template-columns: 10px 60px auto 90px 10px;
    grid-template-rows: 10px 45px 10px auto;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .superchatPfp {
    border-radius: 50%;
    width: 45px;
    grid-column-start: 2;
    grid-row-start: 2;
  }
  
  .superchatDetails {
    grid-column-start: 3;
    grid-row-start: 2;
  }
  
  .superchatName {
    font-family: 'Roboto', sans-serif;
    font-size: 14;
    line-height: 1.5;
  }
  
  .superchatAmount {
    font-family: 'Roboto', sans-serif;
    font-size: 16;
  }
  
  .superchatContent {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 6;
    border-radius: 0px 0px 10px 10px;
  }
  
  .superchatText {
    margin: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
  }

  .superchatButton {
    grid-column-start: 4;
    grid-row-start: 2;
    margin: 10px;
  }